doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Cities  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function() {
        $('.active-row').click(function() {
          var url = $(this).data('url');
          window.location.href = url;
        });
      });

  body
    .page
      h1.page.page__heading Cities 
      table.table-sortable.content-table
        thead
          tr 
            th ID
            th Country
            th City
            th Population
            th District
          tr 
        tbody
          each city in cities
            tr.active-row(data-url=`cities/id/${city.ID}`)
              td #{city.ID}
              td #{city.CountryCode}
              td #{city.Name}
              td #{city.Population}
              td #{city.District}

      script(src='scripts/table.js')