include navbar 
doctype html 
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneers | #{city.Name} Report 
  body
    .page
        header
        section
        h2.logo--hover #{city.Name}
        p.text-block.text-blockparagraph.text-blockparagraph--align-left ID: #{city.ID} 
        p.text-block.text-blockparagraph.text-blockparagraph--align-left Country Code: #{city.CountryCode}
        p.text-block.text-blockparagraph.text-blockparagraph--align-left Name: #{city.Name}
        p.text-block.text-blockparagraph.text-blockparagraph--align-left Population: #{city.Population}
        p.text-block.text-blockparagraph.text-blockparagraph--align-left District: #{city.District}
        footer