include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/cities.css
    title Pioneers | Home
  body.page  
    header
    section
      h2 Cities 
      table.table  
        thead 
            th City ID 
            th Name 
            th Country Code
            th District 
            th Population 
        tbody
          each city, id in cities  
            tr   
              td #{city.ID}
              td #{city.Name}
              td #{city.CountryCode}
              td #{city.District}
              - const population = new Intl.NumberFormat().format(city.Population);
              td.number  #{population}
    footer
