include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/table.css
    title Pioneers | Home
  body.page  
    header
    section
      h2 Cities 
      table.table-content   
        thead 
            th City ID 
            th Name 
            th Country Code
            th District 
            th Population 
        tbody
          each city, id in cities  
              tr.active-row(data-url=`cities/id/${city.ID}`)
                td #{city.ID}
                td #{city.Name}
                td #{city.CountryCode}
                td #{city.District}
                - const population = new Intl.NumberFormat().format(city.Population);
                td.number  #{population}
    footer

  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script.
    $(document).ready(function() {
      $('.active-row').click(function() {
        var url = $(this).data('url');
        window.location.href = url;
      });
    });
