include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/cities.css
    title Pioneers | Home
  body.page  
    header
    section
      h2 Countries 
      table.table  
        thead 
            th Country Code 
            th Country Code 2
            th Name 
            th Continent 
            th Region
            th Surface Area 
            th Independence Year
            th Population 
            th Life Expectancy 
            th GNP 
            th GNPOld 
            th Local Name 
            th Goverment Form 
            th Head of State 
            th Capital
        tbody
          each country, id in countries  
            tr   
              td.table-row
                a(href=`/countries/countryCode/${country.Code}`) #{country.Code}
              td.table-row
                a(href=`/countries/countryCode/${country.Code}`) #{country.Code2}
              td.table-row #{country.Name}
                a(href=`/countries/countryCode/${country.Code}`)
              td.table-row #{country.Continent}
                a(href=`/countries/countryCode/${country.Code}`)
              td.table-row #{country.Region}
                a(href=`/countries/countryCode/${country.Code}`)
              td.table-row #{country.SurfaceArea}
                a(href=`/countries/countryCode/${country.Code}`)
              td.table-row #{country.IndepYear}
              - const population = new Intl.NumberFormat().format(country.Population);
              td.table-row.number #{population}
              td.table-row #{country.LifeExpectancy}
              td.table-row #{country.GNP}
              td.table-row #{country.GNPOld}
              td.table-row #{country.LocalName}
              td.table-row #{country.GovernmentForm}
              td.table-row #{country.HeadOfState}
              td.table-row #{country.Capital}
    footer
