include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
<<<<<<< HEAD
    title Pioneers | Home
  body.page  
    header
    section
      p.text-block.text-block__paragraph.text-block__paragraph--center 
      img(src='./login_icon' alt='Banner' style= 'width:100% ; height:600px;')
=======
    title Pioneers | #{country.name} 
  body.page  
    header
    section
      h2.logo--hover #{country.name}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left ID: #{city.id} 
      p.text-block.text-block__paragraph.text-block__paragraph--align-left Name: #{country.name}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left Country Code: #{country.countryCode}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left District: #{city.district}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left Population: #{city.population}
>>>>>>> 4f9c5e7d6401dcf3886b1f64cb338422b84c16b4
    footer
