include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
    title Pioneers | #{country.name} 
  body.page  
    header
    section
      h2.logo--hover #{country.name}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left ID: #{city.id} 
      p.text-block.text-block__paragraph.text-block__paragraph--align-left Name: #{country.name}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left Country Code: #{country.countryCode}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left District: #{city.district}
      p.text-block.text-block__paragraph.text-block__paragraph--align-left Population: #{city.population}
    footer
