include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/countries.css
    title Pioneers | #{country.name} 
  body.page  
    header
    section
      img(src=`https://flagcdn.com/w160/${country.countryCodeAlpha2.toLowerCase()}.png`)
      h2.logo--hover #{country.name}
      p.information  Country Code Alpha-2: #{country.countryCodeAlpha2}
      p.information Country Code Alpha-3: #{country.countryCodeAlpha3}
      p.information Continent: #{country.continent}
      p.information Region: #{country.region}
      p.information Surface Area: #{country.surfaceArea}
      p.information Indep Year: #{country.indepYear}
      p.information Population: #{country.population}
      p.information Life Expectancy: #{country.lifeExpectancy}
      p.information GNP: #{country.GNP}
      p.information GNPOld: #{country.GNPOld}
      p.information Local Name: #{country.localName}
      p.information Government Form: #{country.governmentForm}
      p.information Head of State: #{country.headOfState}
      p.information Capital: #{country.capital}
    footer
