include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/table.css
    title Pioneers | Home
  body.page  
    header
      nav.navbar
    section
      h2 Languages  
      table.table-content  
        thead 
          th Country Code 
          th Language 
          th Official 
          th Percentage 
          th Population 
        tbody
          each language in countryLanguages  
            tr.active-row(data-url=`countries/countryCode/${language.countryCodeAlpha3}`)   
              td #{language.countryCodeAlpha3}
              td #{language.language}
              td #{language.isOfficial}
              td #{language.percentage}
              - const calculate_population = language.population * (language.percentage / 100);
              - const language_population = new Intl.NumberFormat().format(calculate_population);
              td.table-row.number #{language_population}
    footer

  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script.
    $(document).ready(function() {
      $('.active-row').click(function() {
        var url = $(this).data('url');
        window.location.href = url;
      });
    });