doctype html
include ../components/navbar.component.pug
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneers | #{language.Name} Report 
  body
    .page
      .id-card-container 
        .id-card  
          h1.id-card__heading #{language.Language} 
          h2.id-card__sub-heading Country Code   
          p.id-card__text-block #{language.CountryCode}
          h2.id-card__sub-heading Official Language
          if language.IsOfficial === "T" 
            p.id-card__text-block #{language.Language} is the Official Language of #{language.CountryCode}.
          else 
            p.id-card__text-block #{language.Language} is not the Official Language of #{language.CountryCode}.
