doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Countries
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function() {
        $('.active-row').click(function() {
          var url = $(this).data('url');
          window.location.href = url;
        });

        $('#searchInput').keyup(function() {
          var searchText = $(this).val().toLowerCase();
          $('.content-table tbody tr').each(function() {
            var rowText = $(this).text().toLowerCase();
            if (rowText.includes(searchText)) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        });
      });

  body
    .page
      h1.page.page__heading Countries
      input#searchInput(type="text", placeholder="Search countries...")
      table.table-sortable.content-table
        thead 
          tr
            th Country Code 
            th Name
            th Continent
            th Region
            th Population 
            th Capital City
          tr
        tbody 
          each country in countries
            tr.active-row(data-url=`countries/code/${country.Code}`)
              td #{country.Code}
              td #{country.Name}
              td #{country.Continent}
              td #{country.Region}
              td #{country.Population}
              td 
                a.content-table__link--green(href=`cities/id/${country.Capital}`) #{country.CapitalName} 
            
      script(src='scripts/table.js')